-f https://download.pytorch.org/whl/torch_stable.html
Flask==1.1.2
gunicorn==20.0.4
idna==2.6
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.19.2
sentence-transformers==0.4.1
scikit-learn==0.24.1
gensim==4.0.
torch==1.9.0+cpu 
torchvision==0.10.0+cpu
urllib3==1.25.8
Werkzeug==1.0.1
