asgiref==3.2.3
astroid==2.3.3
autopep8==1.5.4
browserhistory==0.1.2
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cycler==0.10.0
filetype==1.0.7
Flask==1.1.2
gunicorn==20.0.4
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.1
pipenv==2018.11.26
pycodestyle==2.6.0
pygame==1.9.6
pylint==2.4.4
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
selenium==3.141.0
six==1.14.0
toml==0.10.1
urllib3==1.25.8
Werkzeug==1.0.1
wrapt==1.11.2
sentence-transformers==0.4.1
scikit-learn==0.24.1
gensim==4.0.
